@model IEnumerable<CareerCloud.Pocos.ApplicantWorkHistoryPoco>

@{
    ViewData["Title"] = "Work History";
}

<h1>Index</h1>

<div>
    <partial name="~/Views/_ApplicantWorkHistory.cshtml" model="@Model.ToList()" />
</div>